
* {
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Open Sans', sans-serif;
    background:url(https://wallpapercave.com/wp/wp3970817.jpg)no-repeat center;
    height: 100vh;
    width: 100vw;
  }
  
  section{
    text-align: center;
    margin-top: 62px;
    margin: auto;
  }
  
  #the-info-window {
      margin: auto;
      height: 320px;
      width: 300px;
      border: 2px solid yellow;
      border-radius: 5px;
  }
  
  .main-title {
    position: relative;
    font-size: 17px;
    top: 0px;
    color: yellow;
    display: flex;
    justify-content: center;
}
  
  h1{
    padding-top: 40px;
  }
  
  article{
      position: relative;
      top: -32px;
      font-size: 14px;
      color: yellow;
      font-weight: bolder;
      }
      
    
  #button {
    background-color: yellow;
    border: none;
    color: whit#000;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 15px;
    border-radius: 5px;
    width: 270px;
    position: relative;
    top: 10px;
    cursor: pointer;
  }
  
  
  #name{
    padding-top: 86px;
  }
  
  
  /* MEDIA QUERIES */
  
  @media screen
    and (min-width: 834px) 
    and (max-width: 1112px) {
      #the-info-window {
      width: 800px;
      border: 2px solid yellow;
      position: relative;
      top: 73px;
      }
    
    .main-title {
      position: relative;
      font-size: 27px;
      top: 67px;
    }
  
    #button {
        top: 79px;
    }
  
    article {
      position: relative;
      top: -17px;
      font-size: 14px;
      color: yellow;
      font-weight: bolder;
   }
  }

  @media screen 
  and (min-width: 1024px) 
  and (max-width: 1366px) {
    #the-info-window {
        width: 800px;
        border: 2px solid yellow;
        position: relative;
        top: 73px;
        }
      
      .main-title {
        position: relative;
        font-size: 27px;
        top: 67px;
      }
    
      #button {
          top: 79px;
      }
    
      article {
        position: relative;
        top: -17px;
        font-size: 14px;
        color: yellow;
        font-weight: bolder;
     }
}

  @media screen 
  and (min-width: 1200px) 
  and (max-width: 1600px)  { 
    #the-info-window {
        width: 800px;
        border: 2px solid yellow;
        position: relative;
        top: 73px;
        }
      
      .main-title {
        position: relative;
        font-size: 27px;
        top: 67px;
      }
    
      #button {
          top: 79px;
      }
    
      article {
        position: relative;
        top: -17px;
        font-size: 14px;
        color: yellow;
        font-weight: bolder;
     }
}

  
  
  